<nav id="header" class="navbar navbar-expand-md navbar-dark bg-primary fixed-top text-white">
    <a class="navbar-brand  px-2 btn btn-primary" routerLink="home">
        <icon name="book" ></icon> &amp; <icon name="file-video"></icon>
    </a>
    <span class="navbar-text text-white" style="white-space: nowrap">
      Books &amp; Videos Store
    </span>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarMenu" class="navbar-collapse collapse" ></div>

    <div class="d-inline-block ml-auto" style="white-space: nowrap">
        <app-shopping-cart-widget></app-shopping-cart-widget>
    </div>
</nav>
