<div class="row">
    <div class="col">
        <img src="/assets/map.png" class="img-fluid" />
    </div>
    <div class="col-3">
        <div class="row">
            <div class="col">
                <icon name="map-marker"></icon><br/>
                Stureplan 4C<br/>
                11435 STOCKHOLM<br/>
                Sweden
            </div>
        </div>

        <div class="row">
            <div class="col">
                <icon name="phone"></icon><br/>
                +46 (0)730-866-040
            </div>
        </div>

        <div class="row">
            <div class="col">
                <icon name="envelope"></icon><br/>
                <a href="mailto:info@ribomation.se">info@ribomation.se</a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <icon name="globe"></icon><br/>
                <a href="https://www.ribomation.se/">www.ribomation.se</a>
            </div>
        </div>
    </div>
</div>
