
.numeric {
    text-align: right;
}

.total {
    border-top: medium double gray ;
}

.numeric input {
    width: 3rem;
    text-align: right;
}

.img-container img {
    height: 60px;
    width: auto;
}
