<div class="row">
    <div class="col">
        <h1 class="text-dark">Welcome to a world of books and videos !!! </h1>
        <p>
            <img src="/assets/books.jpg" class="img-fluid w-100"/>
        </p>
    </div>
</div>

<div class="row">
    <div class="col">
        <a routerLink="/products/books" class="btn btn-success btn-block">
            <icon name="book" size="2x"></icon>
            Books
        </a>
    </div>
    <div class="col">
        <a routerLink="/products/videos" class="btn btn-success btn-block">
            <icon name="file-video" size="2x"></icon>
            Videos
        </a>
    </div>
</div>
